<div class="container">
    <div class="row">
        <div class="col-md-6">
            <textarea name="textarea" id="txt" cols="40" rows="20">
            </textarea> <br>
            <button class="btn btn-secondary" [disabled]="true">btn3</button>
        </div>

        <div class="col-md-6">

            <ul>
                <li><a href="#" (click)="onSelect()">recipes</a></li>
                <li><a href="#" (click)="onSelect()">shopping-list</a></li>

            </ul>

        </div>


    </div>
</div>